/*Start of Index.html*/

.bodyIndex {
    background-color: black;

}

#box {
    border: 5px;
    border-radius: 20px;
    border-style: dotted;
    border-color: white;
    max-width: 500px;
    margin:  0 auto;
    margin-top: 2pc;
}

.h1Index, 
.h6Index {
    text-align: center;
    color: white;
}

.items {
    margin: 0 auto;
    background-color: rgb(30, 0, 75);
    max-width: 300px;
    max-height: auto;
    border-radius: 20px;
    border-style: double;
    border-color: white;
}

.border {
    background-color:rgb(40, 0, 100);
    border-radius: 25px;
    border-style: dashed;
    border-color: black;
}

.linkMain {
    text-align: center;
    display: block;
    margin: 50px;
    color:white;
}

/*End of Index.html*/

/*Start of pasta.html*/

/*End of pasta.html*/

/*Start of pizza.html*/

/*End of pizza.html*/

/*Start of lasagna.html*/

/*End of lasagna.html*/