body {
    background-color: black;

}

#box {
    border: 5px;
    border-radius: 20px;
    border-style: dotted;
    border-color: white;
    max-width: 500px;
    margin:  0 auto;
    margin-top: 2pc;
}

h1, h6 {
    text-align: center;
    color: white;
}

.items {
    margin: 0 auto;
    background-color: rgb(30, 0, 75);
    max-width: 300px;
    max-height: auto;
    border-radius: 20px;
    border-style: double;
    border-color: white;
}

.border {
    background-color:rgb(40, 0, 100);
    border-radius: 25px;
    border-style: dashed;
    border-color: black;
}

.linkMain {
    text-align: center;
    display: block;
    margin: 50px;
    color:white;
}

